<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.universitylife">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LevelSelector.LevelSelectorActivity"></activity>
        <activity android:name=".Bookstore.BookStoreActivity" />
        <activity android:name=".Game2.Game2Lvl4Activity" />
        <activity android:name=".Game2.Game2Lvl3Activity" />
        <activity android:name=".Game2.Game2Lvl2Activity" />
        <activity android:name=".Game2.Game2Lvl1Activity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Result.ResultActivity" />
        <activity android:name=".Game1.Game1Lvl1Activity" />
        <activity android:name=".CourseSelector.CourseSelectorActivity" />
        <activity android:name=".Customization.CustomizationActivity" />
        <activity android:name=".Login.MainActivity"/>
        <activity android:name=".Leaderboard.LeaderboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game3.Game3StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game3.Game3Activity"
            android:parentActivityName=".Game3.Game3StartActivity" />
    </application>

</manifest>