<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="View.ProfileActivity"></activity>
        <activity android:name="View.GameCompletionActivity" />
        <activity android:name="View.FirstGameActivity" />
        <activity android:name="View.CourseSelectorActivity" />
        <activity android:name="View.CustomizationActivity" />
        <activity android:name="View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".View.Lvl3StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.Lvl3GameActivity"
            android:parentActivityName=".View.Lvl3StartActivity" />
    </application>

</manifest>